.drawingItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111;
  padding: 2rem;
  border-radius: 16px;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  position: relative;
  &:hover {
    box-shadow: 0 0 0 2px #333;
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  p {
    font-size: 1rem;
    color: #999;
    text-align: center;
    line-height: 24px;
    overflow: hidden;
    max-height: 96px;
  }
  a {
    align-self: stretch;
    width: 100%;
  }
  button {
    margin-top: 16px;
    width: 100%;
    border: none;
    background-color: #333;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #fff;

    &:hover {
      background-color: #555;
    }
    &:active {
      transform: scale(0.98);
    }
  }
}

.soon {
  cursor: not-allowed;
  opacity: 0.5;
  &:hover {
    box-shadow: none;
  }
  * {
    pointer-events: none;
  }
}

.soonBadge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 0 8px 0 8px;
  font-size: 0.8rem;
  z-index: 8;
}
