* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
}

/* disable chrome tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 14px;
  }
}

html {
  color-scheme: dark;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  padding-bottom: 0;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  @media (max-width: 768px) {
    & {
      padding: 2rem;
      padding-bottom: 0;
    }
  }
  h1,
  p {
    text-align: center;
  }
}
