.back {
  font-size: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.nav {
  display: flex;
  position: relative;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  width: 32px;
  height: 32px;
  background-color: transparent;
}
