.nav {
  background-color: #222;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  margin: 16px;
  border-radius: 16px;
  position: relative;
  gap: 4px;
  h2 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.arrow {
  cursor: pointer;
  font-size: 0;
}

.pdf {
  margin-left: auto;
  font-size: 0;
}
